aiohttp
albumentations
build
easydict
fastrlock
ffmpeg-python
fiftyone
fqdn
fvcore
importlib-metadata
ipython-pygments-lexers
isoduration
jaraco.collections
jsonpointer
jupyterlab
jupyterlab-widgets
lap
lpips
moviepy
numpy==1.26.4
omegaconf
path
pip-chill
pysocks
pytorch-lightning
pytorchsummary
tinycss2
torchaudio
torchinfo
ultralytics
uri-template
wavemix
webcolors
webdataset
widgetsnbextension
